#contentContainer {
  max-width: 700px;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/*for toggler buttons */
.togglebutton {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400 !important;
  background-color: #eeeeee;
  padding: 3px 10px;
  color: #696969 !important;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0, 07);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 20px !important;
  text-decoration: none;
}

.togglebutton:hover {
  background-color: #bce3ff;
  text-decoration: none;
}

.highlight {
  background-color: #275e84 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

.vis {
  width: 100%;
  height: 300px;
  border: 1px solid darkgray;
  margin: 10px 0px;
  margin-bottom: 50px !important;
}

.drawn {
  border: 0px !important;
}

.callout {
  border-left: 8px solid lightgray;
  padding: 1px 8px;
  font-size: 14px;
  background-color: #fbfbfb80;
}

.spacer {
  margin-top: 50px;
}

.causebutton {
  float: right;
  padding: 3px 35px;
}

.choice {
  border-bottom: 2px solid #275e8475;
  padding-bottom: 3px;
}

/* Flexbox layout to align chart and buttons */
.chart-multiselect-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#ddc {
  flex-grow: 1; /* Ensure the chart takes up the remaining space */
  width: calc(100% - 220px); /* Account for the width of the button container */
}

.multiselect-title {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.multiselect-wrapper {
  width: 150px;
}

.scrollable-button-container {
  width: 100%;
  height: 325px;
  overflow-y: auto;
  /* border: 1px solid #ddd;
padding: 10px;
background-color: #f9f9f9; */
}

.scrollable-button-container button {
  display: block;
  width: 100%; /* Make each button take up the full width */
  font-size: 10px; /* Smaller text size */
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f3f3f3; /* Default background color */
  border: 0px solid #ccc;
  cursor: pointer;
  text-align: left;
}

.scrollable-button-container button.selected {
  background-color: #275e84;
  color: white;
}

.hide {
  display: none;
}

.vis-parent {
    height: 400px;
}

.copy-wrapper {
  height: 100px;
}

.ddc-copy {
  margin-top: 20px; /* Base margin */
  transition: margin-top 0.3s ease; /* Smooth transition */
}


    /* SCROLLBAR */

    /* width */
    ::-webkit-scrollbar {
      width: 0.20rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: rgb(246, 246, 246);
  }

  /* Track on Hover */
  ::-webkit-scrollbar-track:hover {
      background: rgb(240, 240, 240);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #97B1C3;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #97B1C3;
  }

  .sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }